@import '../../../../../shared/application/theme/colors.scss';

.search-container {
	@extend .bg-tertiary;
	@extend .color-primary;
	width: 85%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 20px;
	border-radius: 8px;

	> .search-bar {
		width: 100%;
		max-width: 600px;
		height: 40px;
		display: flex;
		align-items: center;
		background-color: var(--color-white);
		border-radius: 4px;
		box-shadow: var(--box-shadow);
		padding: 0 10px;

		> .search-input {
			flex-grow: 1;
			border: none;
			outline: none;
			font-size: 16px;
			color: var(--color-primary);
			background-color: transparent;

			&::placeholder {
				color: var(--color-secondary);
			}
		}

		> .search-button {
			background-color: transparent;
			border: none;
			cursor: pointer;

			> .icon {
				width: 24px;
				height: 24px;
				fill: var(--color-primary);
			}
		}
	}
}
