@import '../../../../shared/application/theme/colors.scss';

.pokemon-detail-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 20px;

	> .back-button {
		@extend .color-secondary;
		display: flex;
		align-self: center;
		align-self: flex-start;
		margin-bottom: 20px;
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover {
			@extend .color-secondary-700s;
		}
	}

	> .pokemon-name {
		align-self: flex-start;
		font-weight: bold;
		padding-left: 20px;
	}

	> .pokemon-detail-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 80dvw;

		> .pokemon-images-carousel {
			> .carousel {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;

				> .carousel-btn {
					background: none;
					cursor: pointer;

					&:hover {
						@extend .color-secondary-700s;
					}
				}
				> .pokemon-img {
					width: 250px;
					height: 250px;
					background-size: cover;
					background-position: center;
					border-radius: 10px;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				}
			}
		}

		> .pokemon-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			width: 100%;

			> .info-subtitle,
			> .stats-subtible,
			> .abilities-subtitle {
				align-self: flex-start;
			}

			> .pokemon-info {
				align-self: flex-start;
				padding-left: 10px;
			}

			> .types-info {
				display: flex;
				align-items: center;
				// justify-content: center;
				gap: 10px;
				width: 100%;

				> .type-item {
					@extend .bg-secondary-500t;
					border-radius: 5px;
					padding: 10px;
					flex-grow: 1;
					text-align: center;
					font-weight: bold;
					width: max-content;
				}
			}

			> .abilities-section {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				width: 100%;
				padding: 0 10px;

				> .abiliti-item {
					@extend .bg-secondary-500t;
					border-radius: 5px;
					padding: 10px;
					flex-grow: 1;
					text-align: center;
					font-weight: bold;
					width: max-content;
				}
			}

			> .stats-list {
				list-style: none;
				padding: 0;
				margin: 0;
				width: 100%;
				padding: 0 10px;

				> .stat-item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-bottom: 10px;
					row-gap: 10px;

					> .stat-info {
						display: flex;
						justify-content: space-between;
						width: 100%;
						align-items: center;
						padding: 0 4px;
					}

					> .stat-bar-container {
						@extend .bg-tertiary;
						width: 100%;
						height: 10px;
						border-radius: 5px;
						overflow: hidden;
						margin: 0 10px;

						> .stat-bar {
							@extend .bg-secondary;
							height: 100%;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}
}
