@import 'mixins';

$primary: #121712;
$secondary: #6e8566;
$tertiary: #f2f5f2;
$warning: #ffb84b;
$error: #e30042;
$white: #ffffff;
$neutral: #bfbfbf;

$fontColor: $secondary;
$bgBody: $white;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
