.pokemon-list-container {
	display: flex;
	width: 100%;
	height: 100%;

	> .pokemon-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 20px;
		padding: 20px;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-color: var(--color-white);
		border-radius: 8px;
		box-shadow: var(--box-shadow);
	}
}
